/*LIBRARY*/
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 180%;
}
p{
    font-size: 120%;
}
.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* background-color: aqua; */
    justify-content: space-between;
}
.bookCard{
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
    margin: 3px;
    background-color: #3c9dff;
    border-radius: 5px;
    color: #fff;
    width: 20%;
}
.bookCard *{
    margin: 10px;

}
button{
    margin-top: 5px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(155, 152, 152);

}
.form-div{
    width: 25%;
    margin: auto;
    background-color: #3c9dff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}
.form-div h3{
    text-align: center;
}
.form *{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px hidden;
    font-size: 110%;


}
input, label{
    text-align: center;

}


